.material-icons {
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  transform: translateY(-.1em);
  }

  ul{
    a{
      text-decoration: none;
    }
  }